* {
    margin: 0;
    padding: 0;
}

h1 {
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 4rem;
    align-content: center;
}

.choices {
    display: flex;
    justify-content: center;
}

.choice {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.choice:hover {
    cursor: pointer;
    opacity: 0.8;
    transform: scale(1.05);
    transition: 0.2s;
}

img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.scores {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 50px;
}

#userScore,
#compScore {
    align-items: center;
    justify-self: center;
    font-size: 2rem;
}

.msg-container {
    margin-top: 5rem;
}

#msg {
    background-color: black;
    color: white;
    font-size: 1rem;
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 1rem;
    border-radius: 1rem;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 70px;
}

.btn {
    background-color: #6C63FF;
    color: white;
    border: none;
    padding: 20px 40px;
    font-size: large;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #5146d8;
}
